@charset "UTF-8";

/* CSS Document */

.hidden {
  display: none;
}


/* CLEARFIX */

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
}

/* APP CSS rules below */
body {
  background-color: #000;
  color: #fff;
  font-size: 16px;
}

.wrapper {
  text-align: center;
}

video {
  /* scale video with page */
  width: 100%;
}

button {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1.5em;
  border-radius: 8px;
  margin-right: 8px;
}
